<h1>Showing to do</h1>
<p>
  name: <%= @todo.name %>
</p>
<p>
  description: <%= @todo.description %>
</p>
<p><%= link_to "Edit this todo", edit_todo_path(@todo)%> | <%= link_to "Show todos", todos_path %> </p>
